{% extends 'base.html.twig' %}
        {% block title %}
            <title>Tri by Me</title>
        {% endblock %}
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
            <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet"  type="text/css" />
            <link href="{{ asset('bundles/app/css/flexslider.css') }}" rel="stylesheet"  type="text/css" />
            <meta name="viewport" content="width=device-width; initial-scale=1.0" />
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        {% block header %}
            <div class="container">
                <header class="sixteen columns alpha omega">
                    <a href="/"><img class="brand" src="img/logo.png" alt="Tri"></a>
                    <nav class="main-nav sixteen columns">
                        <ul class="ten columns alpha">
                            <li><a href="/">Home</a></li>
                            <li><a href="/work">Work</a></li>
                            <li><a href="/contact">Hire me</a></li>
                            <li><a href="/blog">Blog</a></li>

                        </ul>
                        <div class="social six columns omega">
                            <a href="/twitter"></a>
                            <a href="/facebook"></a>
                        </div>
                    </nav>
                </header>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <div class="container">
            <footer class="row">
                <div class="eight columns omega">
                    <p>&copy;2012 Tri Media, Inc.</p>
                </div>
                <nav class="eight columns alpha">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/contact">Hire me</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </footer>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.js') }}" ></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.flexslider.js') }}" ></script>
            <script type="text/javascript">
                $(window).load(function() {
                    $('.flexslider').flexslider({
                        animation: "slide"
                    });
                });
            </script>
        {% endblock %}
